.cont {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.ThumbnailItem {
  display: flex;
  align-items: center;
  margin-left: 20%;
  border-radius: 10px;
}
